services:
  db:
    image: postgres
    restart: always
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - 5432:5432
    env_file: .env

  adminer:
    image: adminer
    restart: always
    depends_on:
      - db
    ports:
      - 8080:8080
  app:
    build: .
    ports:
      - 3000:3000
    environment:
      POSTGRES_HOST: db
    env_file: .env
volumes:
  postgres_data:
    